/* stylelint-disable max-line-length, at-rule-empty-line-before, comment-empty-line-before */

/* Brand faces — loaded by loadFonts() (scripts.js), never from head.html.
   Geogrotesque Sharp VF (Emtype) self-hosted; policy "self-hosted-reuse, licence
   confirmation pending (owner)" — see fonts/LICENSING.md. The declarations mirror the
   live clientlib byte for byte: discrete weights on the variable face so that
   font-weight: 400 resolves to the 450 face exactly as on sciex.com. */
@font-face { font-family: geogrotesque; font-style: normal; font-weight: 300; font-display: swap; src: url('../fonts/geogrotesque-sharp-vf.woff2') format('woff2'); }
@font-face { font-family: geogrotesque; font-style: normal; font-weight: 450; font-display: swap; src: url('../fonts/geogrotesque-sharp-vf.woff2') format('woff2'); }
@font-face { font-family: geogrotesque; font-style: normal; font-weight: 530; font-display: swap; src: url('../fonts/geogrotesque-sharp-vf.woff2') format('woff2'); }
@font-face { font-family: geogrotesque; font-style: normal; font-weight: 330; font-display: swap; src: url('../fonts/geogrotesque-sharp-vf.woff2') format('woff2'); }
@font-face { font-family: geogrotesque; font-style: normal; font-weight: 270; font-display: swap; src: url('../fonts/geogrotesque-sharp-vf.woff2') format('woff2'); }
@font-face { font-family: geogrotesque; font-style: normal; font-weight: 200; font-display: swap; src: url('../fonts/geogrotesque-ultlt.woff2') format('woff2'); }
